{% load static %}
<!DOCTYPE html>
<html lang="pl-pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="JustDeliver to najlepszy w Polsce system rozliczeń do ETS2. Prowadź wirtualną spedycję, pokonuj kolejne kilometry i ciesz się jazdą!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/side_panel.css' %}">
    <title>Panel główny | JustDeliver</title>
</head>
<body>
    <nav class="side-panel">
        <img class="side-panel__logo" src="{% static 'assets/logo.png' %}" alt="Logo z dwoma ikonami skrzydeł nałożonymi na siebie, obok niebieski napis Hercules.">
        <p class="side_panel__label">Kierowca</p>
        <div class="side-panel__options">
            <a class="side-panel__option option--active">
                <img class="option__icon" src="{% static 'icons/home-active.png' %}" alt="Biała ikona domku, obok napis Panel główny.">
                <p class="option__title">Panel główny</p>
            </a>
            <a class="side-panel__option">
                <img class="option__icon" src="{% static 'icons/add-delivery.png' %}" alt="Szara ikona ciężarówki, obok napis Dodaj nową trasę.">
                <p class="option__title">Dodaj nową trasę</p>
            </a>
            <a class="side-panel__option">
                <img class="option__icon" src="{% static 'icons/drivers-card.png' %}" alt="Szara ikona dowodu osobistego, obok napis Karta kierowcy.">
                <p class="option__title">Karta kierowcy</p>
            </a>
            <a class="side-panel__option">
                <img class="option__icon" src="{% static 'icons/dispositions.png' %}" alt="Szara ikona kalendarza, obok napis Dyspozycje.">
                <p class="option__title">Dyspozycje</p>
            </a>
            <a class="side-panel__option">
                <img class="option__icon" src="{% static 'icons/vehicles.png' %}" alt="Szara ikona ciężarówki, obok napis Pojazdy.">
                <p class="option__title">Pojazdy</p>
            </a>
            <a class="side-panel__option">
                <img class="option__icon" src="{% static 'icons/market.png' %}" alt="Szara ikona paczki, obok napis Giełda zleceń.">
                <p class="option__title">Giełda zleceń</p>
            </a>
        </div>
    </nav>
    <main class="dashboard">
        <h1 class="dashboard__welcome-title">
            Cześć, {{ nick }}!
        </h1>
        <div class="dashboard__container">
            <div class="dashboard__statistics-wrapper">
                <div class="dashboard__card card--statistics-card">
                    <img class="statistics-card__icon" src="{% static 'icons/distance.png' %}" alt="Niebieska ikona dwóch pinezek do map.">
                    <div class="statistics-card__content">
                        <p class="statistics-card__content__label">Przejechany dystans</p>
                        <p class="statistics-card__content__value">{{ statistics.distance.distance__sum }} km</p>
                    </div>
                </div>
                <div class="dashboard__card card--statistics-card">
                    <img class="statistics-card__icon" src="{% static 'icons/deliveries.png' %}" alt="Niebieska ikona pinezki umiejscowiona na mapie.">
                    <div class="statistics-card__content">
                        <p class="statistics-card__content__label">Ilość wykonanych dostaw</p>
                        <p class="statistics-card__content__value">{{ statistics.deliveries_count }} dostawy</p>
                    </div>
                </div>
                <div class="dashboard__card card--statistics-card">
                    <img class="statistics-card__icon" src="{% static 'icons/income.png' %}" alt="Niebieska ikona banknotów.">
                    <div class="statistics-card__content">
                        <p class="statistics-card__content__label">Łączny dochód</p>
                        <p class="statistics-card__content__value">{{ statistics.income.income__sum }} zł</p>
                    </div>
                </div>
            </div>

            <div class="dashboard__card card--current-disposition">
                {% if disposition %}
                <div class="current-disposition__info__wrapper">
                    <div class="current-disposition__info">
                        <p class="current-disposition__disposition-number">
                            Dyspozycja #{{ disposition.id }}
                        </p>
                        <p class="current-disposition__disposition-deadline">
                            Przydzielono: {{ disposition.created_at | date:"j E, H:i" }}
                        </p>
                    </div>
                    <div class="current-disposition__status status--not-finished">
                        Nieukończona
                    </div>
                </div>

                <div class="current-disposition__cities">
                    <div class="cities__loading-city-wrapper">
                        <img class="cities__icon" src="{% static 'icons/loading-city.png' %}" alt="Niebieska ikona pinezki.">
                        <div class="loading-info">
                            <p class="loading-city">{{ disposition.loading_city }}</p>
                            <p class="loading-company">{{ disposition.loading_spedition }}</p>
                        </div>
                    </div>
                    <div class="cities__unloading-city-wrapper">
                        <img class="cities__icon" src="{% static 'icons/unloading-city.png' %}" alt="Niebieska ikona flagi finisz.">
                        <div class="unloading-info">
                            <p class="unloading-city">{{ disposition.unloading_city }}</p>
                            <p class="unloading-company">{{ disposition.unloading_spedition }}</p>
                        </div>
                    </div>
                </div>

                <div class="current-disposition__cargo">
                    <img class="cargo__icon" src="{% static 'icons/cargo.png' %}" alt="Niebieska ikona paczki.">
                    <p class="cargo">{{ disposition.cargo }} ({{ disposition.tonnage }} t)</p>
                </div>
                {% else %}
                <div class="current-disposition__info__wrapper">
                    <div class="current-disposition__info">
                        <p class="current-disposition__no-disposition-header">
                            Wszystko gotowe!
                        </p>
                        <p class="current-disposition__no-disposition-text">
                            Nie masz żadnej przydzielonej dyspozycji. Wszystkie dyspozycje zostały wykonane.
                            W tym miejscu pojawi się jakaś, gdy przydzieli ją spedycja.
                        </p>
                    </div>
                </div>
                {% endif %}

            </div>

            <div class="dashboard__card card--vehicle">
                <img class="vehicle__photo" src="{% static 'assets/vehicle.png' %}" alt="Zdjęcie pojazdu">
                <p class="vehicle__label">
                    Twój pojazd
                </p>
                <p class="vehicle__title">MAN TGX Euro 6 XXL</p>
                <span class="vehicle__license-plate">KR 133RT</span>
                <div class="vehicle__details">
                    <div class="details--engine">
                        <p class="vehicle__label">Silnik</p>
                        <p class="engine">440 KM</p>
                    </div>
                    <div class="details--chassis">
                        <p class="vehicle__label">Nadwozie</p>
                        <p class="chassis">4x2</p>
                    </div>
                    <div class="details--odometer">
                        <p class="vehicle__label">Przebieg</p>
                        <p class="odometer">413 334 km</p>
                    </div>
                </div>
            </div>
            <div class="dashboard__card card--deliveries">
                <p class="deliveries__label">
                    Ostatnie zlecenia
                </p>
                <div class="delivery">
                    <div class="delivery__container">
                        <img src="{% static 'icons/waybill.png' %}" alt="Niebieski okrąg z białą ikoną flagi finiszu." class="delivery__icon">
                        <div class="delivery__details">
                            <p class="details__cities">
                                Warszawa - Poznań
                            </p>
                            <p class="details__date">
                                23.07, 13:58
                            </p>
                        </div>
                    </div>
                    <div class="delivery__status status--rejected">
                        Odrzucona
                    </div>
                </div>
                <div class="delivery">
                    <div class="delivery__container">
                        <img src="{% static 'icons/waybill.png' %}" alt="Niebieski okrąg z białą ikoną flagi finiszu." class="delivery__icon">
                        <div class="delivery__details">
                            <p class="details__cities">
                                Warszawa - Poznań
                            </p>
                            <p class="details__date">
                                23.07, 13:58
                            </p>
                        </div>
                    </div>
                    <div class="delivery__status status--rejected">
                        Odrzucona
                    </div>
                </div>
                <div class="delivery">
                    <div class="delivery__container">
                        <img src="{% static 'icons/waybill.png' %}" alt="Niebieski okrąg z białą ikoną flagi finiszu." class="delivery__icon">
                        <div class="delivery__details">
                            <p class="details__cities">
                                Warszawa - Poznań
                            </p>
                            <p class="details__date">
                                23.07, 13:58
                            </p>
                        </div>
                    </div>
                    <div class="delivery__status status--rejected">
                        Odrzucona
                    </div>
                </div>
                <div class="delivery">
                    <div class="delivery__container">
                        <img src="{% static 'icons/waybill.png' %}" alt="Niebieski okrąg z białą ikoną flagi finiszu." class="delivery__icon">
                        <div class="delivery__details">
                            <p class="details__cities">
                                Warszawa - Poznań
                            </p>
                            <p class="details__date">
                                23.07, 13:58
                            </p>
                        </div>
                    </div>
                    <div class="delivery__status status--rejected">
                        Odrzucona
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>