* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.container {
    background-color: #f5f5f5;
    height: 100%;
    width: 85%;
}

.container__welcome-title {
    font-size: 24px;
    margin-left: 48px;
    margin-top: 24px;
}

.delivery-container {
    border-top: 5px solid #0071DC;
    background-color: white;
    border-radius: 5px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
    margin: 32px 64px 64px 48px;
    padding-bottom: 48px;
}

.delivery-container__label {
    color: #9C9C9C;
    font-size: 14px;
    margin: 24px 0 16px 48px;
}

.delivery-container__title {
    margin-left: 48px;
    font-weight: 400;
    font-size: 24px;
}

.delivery-container__line {
    background-color: #D8D8D8;
    height: 1px;
    border: 0;
}

.delivery-details-container__title {
    font-weight: 700;
    margin-left: 48px;
    font-size: 18px;
    margin-bottom: 0;
}

.basic-delivery-details-container {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    margin-bottom: 48px;
    margin-top: 16px;
    margin-left: 48px;
}

.delivery-details__input-container,
.delivery-details__disposition-container {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.basic-delivery-details__label {
    font-size: 12px;
    color: #9C9C9C;
    margin-bottom: 8px;
}

.form__input {
    width: 300px;
    height: 32px;
    border: 1px solid #D8D8D8;
    padding-left: 12px;
}

.basic-delivery-details__add-company-button {
    background-color: #0071DC;
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding-left: 5px;
    width: 180px;
    height: 35px;
    margin-top: 16px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.basic-delivery-details__add-company-button:focus,
.basic-delivery-details__add-company-button:hover,
.form__send-delivery:hover,
.form__send-delivery:focus {
    background-color: hsl(209, 97%, 38%);
}

.form__input--tonnage-input {
    width: 96px;
}

.delivery-details__disposition {
    cursor: pointer;
    border: 1px solid #9C9C9C;
    border-top: 5px solid #0071DC;
    width: 325px;
    height: 120px;
    display: flex;
    flex-direction: column;
}

.disposition__title {
    margin-top: 16px;
    margin-left: 20px;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0;
    user-select: none;
}

.disposition__details {
    margin-left: 20px;
    margin-top: 8px;
    font-size: 12px;
    user-select: none;
}

.disposition__license-plate { 
    background-color: #0071DC;
    font-weight: 700;
    margin-left: 16px;
    color: white;
    font-size: 12px;
    padding: 5px 16px 5px 16px;
    width: 64px;
    border-radius: 25px;
    text-align: center;
    user-select: none;
}

.delivery-statistics-container {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    margin-bottom: 48px;
    margin-top: 16px;
    margin-left: 48px;
}

.form__input--distance-input,
.form__input--fuel-input,
.form__input--damage-input,
.form__input--income-input {
    width: 180px;
}

.form_input--note-input {
    width: 650px;
    height: 75px;
    resize: none;
    font-size: 14px;
    padding-top: 5px;
}

.form__send-delivery {
    float: right;
    cursor: pointer;
    color: white;
    background-color: #0071DC;
    border: 0;
    border-radius: 5px;
    margin-right: 64px;
    width: 170px;
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin-bottom: 48px;
}