* {
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.dashboard {
  background-color: #f5f5f5;
  height: 100vh;
  width: 1620px;
}
.container__welcome-title {
  font-size: 24px;
  margin-left: 48px;
  margin-top: 24px;
}

.screenshot-container {
  border-top: 5px solid #0071dc;
  background-color: white;
  border-radius: 5px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
  margin: 32px 64px 0 48px;
  padding-bottom: 48px;
}

.screenshot-container__label {
  color: #9c9c9c;
  font-size: 14px;
  margin: 24px 0 16px 48px;
}

.screenshot-container__title {
  margin-left: 48px;
  font-weight: 400;
  font-size: 24px;
}

.screenshot-container__line {
  background-color: #d8d8d8;
  height: 1px;
  border: 0;
}

.delivery-method-container {
  margin-top: 16px;
  margin-left: 48px;
}

.delivery-method-container__title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0;
}

.delivery-method-container__description {
  color: #9c9c9c;
  margin-top: 8px;
  font-size: 12px;
  max-width: 45%;
}

.delivery-methods {
  display: flex;
  flex-direction: row;
}

.delivery-method--automatic,
.delivery-method--manual {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-content: center;
  margin-top: 32px;
  border-radius: 25px;
  width: 300px;
  height: 250px;
  border: 1px solid #d8d8d8;
}

.delivery-method--automatic:hover,
.delivery-method--manual:hover {
  transform: scale(1.02);
  transition: transform 0.25s;
}

.delivery-method--automatic {
  margin-right: 128px;
}

.delivery-method__icon {
  margin-top: 48px;
  align-self: center;
  pointer-events: none;
}

.delivery-method__title {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 0;
  pointer-events: none;
}

.delivery-method__description {
  font-size: 12px;
  text-align: center;
  pointer-events: none;
  margin-top: 8px;
}

.selected {
  border: 3px solid #0071dc;
}

.upload-screenshot-container {
  margin-top: 48px;
  margin-left: 48px;
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 1px dashed #9c9c9c;
  height: 250px;
  width: 75%;
  cursor: pointer;
}

.upload-screenshot-container__icon {
  align-self: center;
  margin-top: 48px;
  pointer-events: none;
}

.upload-screenshot-container__title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0;
  pointer-events: none;;
}

.upload-screenshot-container__description {
  text-align: center;
  font-size: 16px;
  color: #9c9c9c;
  pointer-events: none;;
}

.delivery-method__automatic-alert {
  background: #d3e4f5;
  border-radius: 10px;
  color: #0076e7;
  margin-top: 24px;
  width: 1100px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.automatic-alert__title {
  font-weight: 700;
  margin: 16px 0 0 32px;
  font-size: 18px;
}

.automatic-alert__description {
  margin-left: 32px;
  margin-top: 4px;
  margin-bottom: 16px;
  font-size: 14px;
}