@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.container {
    background-color: #f5f5f5;
    height: 100vh;
    width: 85%;
}

.container__welcome-title {
    font-size: 24px;
    margin-left: 48px;
    margin-top: 24px;
}