* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.container {
    background-color: #f5f5f5;
    height: 100vh;
    width: 85%;
}

.container__welcome-title {
    font-size: 24px;
    margin-left: 96px !important;
    margin-top: 24px;
}

.dispositions__generate-disposition {
    float: right;
    margin-right: 64px;
    cursor: pointer;
    color: white;
    background-color: #0071DC;
    border: 0;
    border-radius: 5px;
    width: 250px;
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

.dispositions__container {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    margin-left: 48px;
    margin-top: 96px;
    grid-row-gap: 16px;
    grid-column-gap: 96px;
}

.disposition { 
    background-color: white;
    border-radius: 5px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
    width: 475px;
    height: 250px;
    padding-bottom: 20px;
    border-top: 5px solid #0071DC;
}

.disposition__info__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.disposition__info {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.disposition__disposition-number {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0;
}

.disposition__disposition-deadline {
    font-size: 10px;
    color: #9C9C9C;
    margin-top: 2px;
}

.disposition__status {
    padding-top: 4px;
    text-align: center;
    width: 125px;
    height: 20px;
    margin-right: 8px;
    margin-top: 16px;
    font-weight: 700;
    font-size: 10px;
    border-radius: 5px;
    user-select: none;
}

.status--current-disposition {
    background-color: #B8DCFF;
    color: #0071DC;
}

.disposition__cities {
    margin-top: 32px;
    margin-left: 24px;
    display: flex;
    flex-direction: row;
}

.cities__loading-city-wrapper,
.cities__unloading-city-wrapper {
    display: flex;
    flex-direction: row;
}

.cities__icon,
.cargo__icon {
    align-self: center;
}

.loading-info {
    margin-left: 16px;
    margin-right: 96px;
}

.unloading-info {
    margin-left: 16px;
}

.loading-city, 
.unloading-city {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

.loading-company,
.unloading-company { 
    margin: 0;
    margin-top: 2px;
    font-size: 10px;
}

.disposition__cargo {
    margin-left: 24px;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.cargo {
    margin-left: 16px;
}

.dispositions__generate-disposition:hover,
.dispositions__generate-disposition:focus {
    background-color: hsl(209, 97%, 38%);
}

.generate-disposition-container {
    border-top: 5px solid #0071DC;
    background-color: white;
    border-radius: 5px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
    margin: 32px 64px 24px 96px;
    padding-bottom: 48px;
}

.generate-disposition-container__title {
    margin: 32px 0 0 32px;
    font-weight: 700;
    font-size: 18px;
}

.generate-disposition-container__description {
    color: #9C9C9C;
    font-size: 14px;
    margin: 8px 0 0 32px;
    max-width: 800px;
}

.dlc-container {
    margin-right: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    margin-left: 32px;
}

.dlc-container__title,
.modifications-container__title,
.trailer-select__title,
.options-container__title {
    font-weight: 700;
    margin-top: 32px;
    font-size: 12px;
    margin-left: 32px;
    color: #9C9C9C;
}

.dlc-container__dlc {
    cursor: pointer;
}

.dlc-container__dlc:focus,
.dlc-container__dlc:hover {
    transform: scale(1.02);
    transition: transform .25s;
}

.modifications-container {
    margin-top: 24px;
    margin-left: 48px;
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.modification {
    border: 1px solid #0071DC;
    color: #0071DC;
    padding: 5px 16px 0 16px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    min-width: 120px;
}

.modification--selected {
    background: #B8DCFF;
    border: none;
}

.trailer-select__description {
    color: #9C9C9C;
    font-size: 12px;
    margin: 8px 0 0 32px;
} 

.trailer-select__container {
    margin-left: 32px;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.trailer {
    cursor: pointer;
    color: #9c9c9c;
    width: 140px;
    height: 80px;
    border: 1px solid #e2e2e2;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.trailer--selected {
    font-weight: 700;
    background: #D0E8FE;
    color: #044f9b;
}

.trailer__name {
    margin: 10px 16px 5px 16px;
}

.options-container {
    margin-left: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.options__label {
    margin-left: 10px;
}

.label__header {
    font-size: 15px;
    margin-bottom: 0;
}

.label__description {
    margin-top: 2px;
    font-size: 11px;
    color: #9C9C9C;
}

.button-container {
    margin-top: 48px;
    padding-bottom: 16px;
}

.disposition__actions {
    margin-top: 24px;
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
}

.disposition__cancel {
    border: 1px solid #C51616;
    color: #C51616;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 125px;
    height: 35px;
    font-size: 14px;
    font-weight: 700;
}

.disposition__delete-disposition {
    display: flex;
    flex-direction: row;
    gap: 12px;
    border: 1px solid #C51616;
    color: #C51616;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 16px;
    width: 185px;
    height: 35px;
    font-size: 14px;
    padding: 5px;
    font-weight: 700;
}

.delete-disposition-button__icon {
    align-self: center;
    margin-left: 8px;
    margin-right: 8px;
}

.delete-disposition-button__text {
    margin-top: 2px;
}

.disposition__accept {
    background: #0071DC;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 16px;
    width: 145px;
    height: 35px;
    font-size: 14px;
    padding: 5px;
    border: 0;
    font-weight: 700;
}

select {
    background-color: white;
    width: 300px;
    border: 1px solid #d8d8d8;
    height: 40px;
    padding-left: 8px;
}

#deadline__container {
    margin-left: 48px;
    margin-top: 16px;
}

.deadline__title {
    font-weight: 700;
    margin-top: 32px;
    font-size: 12px;
    color: #9C9C9C;
}

.basic-delivery-details-container {
    margin-bottom: 0 !important;
}

.modifications-container__title {
    margin-left: 48px;
}

.input__checkbox {
    width: 16px;
    height: 16px;
}

label {
    font-size: 14px;
}

.checkbox__container {
    display: flex;
    gap: 12px;
}

.trailer-select__title{
    margin-top: 48px;
}

.trailer-select__title,
.trailer-select__description,
.trailer-select__container,
.options-container__title,
.options-container {
    margin-left: 48px;
}

#auto-loading-city {
    width: 24px;
    height: 24px;
}

#loading-city-container,
#unloading-city-container {
    display: none;
}