* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container {
  background-color: #f5f5f5;
  height: 100vh;
  width: 85%;
}

.container__welcome-title {
  font-size: 24px;
  margin-left: 48px;
  margin-top: 24px;
}

.drivers-card__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 520px 750px;
      grid-template-columns: 520px 750px;
  grid-gap: 1px;
  margin: 0 0 0 48px;
}

.drivers-card__driver-details-container,
.drivers-card__driver-statistics-container,
.drivers-card__recent-deliveries {
  border-top: 5px solid #0071DC;
  background-color: white;
  -webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
  margin: 64px -15px -35px 0;
  padding-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 120px;
}

.drivers-card__driver-statistics-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 48px;
  height: auto;
}

.driver-details__avatar {
  margin-top: 16px;
  margin-left: 48px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 192px;
}

.driver-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 24px;
  margin-top: 16px;
}

.driver-details__username {
  font-weight: 700;
  margin-bottom: 0;
  font-size: 20px;
}

.driver-details__company {
  margin-top: 4px;
  font-size: 12px;
}

.driver-details__position {
  background-color: #C70000;
  font-weight: 700;
  color: white;
  font-size: 12px;
  padding: 5px 16px 5px 16px;
  width: 96px;
  border-radius: 25px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.drivers-card__driver-statistics-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (350px)[2];
      grid-template-columns: repeat(2, 350px);
}

.driver-statistics__icon {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 48px;
  margin-top: 24px;
}

.driver-statistics__statistic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 16px;
}

.statistic__container {
  margin-left: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.statistic__label {
  margin-bottom: 0;
  font-size: 12px;
  color: #9c9c9c;
}

.statistic__value {
  margin-top: 4px;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 0;
}

.drivers-card__vehicle {
  border-top: none;
  height: 400px;
  width: 535px;
  background-color: white;
  -webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
}

.vehicle__photo {
  width: 100%;
}

.vehicle__label {
  margin-left: 16px;
  font-size: 10px;
  margin-bottom: 0;
  color: #9C9C9C;
}

.vehicle__title {
  margin-top: 4px;
  margin-left: 16px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.vehicle__license-plate {
  background-color: #0071DC;
  font-weight: 700;
  margin-left: 16px;
  color: white;
  font-size: 12px;
  padding: 5px 16px 5px 16px;
  border-radius: 25px;
  text-align: center;
}

.vehicle__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  row-gap: 16px;
  margin-top: 16px;
}

.card--no-vehicle {
  margin-left: 32px;
  margin-top: 32px;
  margin-bottom: 200px;
  width: 480px;
  margin-right: 480px;
  height: 200px;
}

.no-vehicle {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 48px;
}

.no-vehicle-text {
  text-align: center;
  margin-left: 8px;
  font-size: 14px;
  color: #9C9C9C;
}

.details--engine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.details--chassis,
.details--odometer {
  margin-left: 32px;
}

.engine,
.chassis,
.odometer {
  margin-left: 16px;
  margin-top: 2px;
  font-weight: 700;
}

.drivers-card__recent-deliveries {
  margin-left: 48px;
  display: block;
  height: auto;
}

.recent-deliveries__title {
  font-weight: 700;
  font-size: 14px;
  margin-left: 16px;
}

.recent-deliveries__header,
.recent-deliveries__delivery {
  margin-left: 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
}

.recent-deliveries__header {
  font-size: 10px;
  color: #9c9c9c;
}

.header__title {
  margin-bottom: 0;
}

.recent-deliveries__line {
  background-color: #D8D8D8;
  height: 1px;
  margin-left: 16px;
  margin-right: 16px;
  border: 0;
}

.recent-deliveries__delivery {
  margin-top: 20px;
  margin-bottom: 30px;
}

.delivery__place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.place__city {
  margin-top: 0;
  font-size: 14px;
  margin-bottom: 0;
}

.place__company {
  margin-top: 2px;
  margin-bottom: 0;
  font-size: 11px;
  color: #9C9C9C;
}

.date {
  margin-top: 0;
  font-size: 14px;
}

.status {
  display: block;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  border-radius: 5px;
  height: 16px;
  width: 90px;
  padding: 5px 10px 5px 10px;
}

.status--accepted {
  background-color: #BFF9CF;
  color: #00AC3A;
}

.status--rejected {
  background-color: #FFD2D2;
  color: #C51616;
}

.status--sent {
  background-color: #B8DCFF;
  color: #0071DC;
}

.status--to-edit {
  background-color: #FFDFB8;
  color: #FF8B00;
}
/*# sourceMappingURL=drivers_card.css.map */