* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container {
  background-color: #f5f5f5;
  height: 100vh;
  width: 85%;
}

.container__welcome-title {
  font-size: 24px;
  margin-left: 48px;
  margin-top: 24px;
}

.edit-vehicle-container {
  border-top: 5px solid #0071dc;
  background-color: white;
  border-radius: 5px;
  -webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
  margin: 32px 64px 64px 48px;
  padding-bottom: 48px;
}

.edit-vehicle-container__title,
.manufacturer__title,
.models__title,
.vehicle-details__title,
.cabins__title {
  color: #9c9c9c;
  font-weight: 700;
  font-size: 14px;
  margin: 24px 0 16px 48px;
}

.delivery-container__title {
  margin-left: 48px;
  font-weight: 400;
  font-size: 24px;
}

.edit-vehicle-container__manufacturer-container,
.models__container,
.vehicle-details__container,
.cabins__container {
  margin-left: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
}

.manufacturer,
.model,
.cabin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  height: 32px;
  font-weight: 700;
  border: 1px solid #9c9c9c;
  min-width: 80px;
  font-size: 14px;
  border-radius: 5px;
}

.manufacturer,
.cabin {
  padding-left: 15px;
  padding-right: 15px;
}

.manufacturer--selected,
.model--selected,
.cabin--selected {
  border: 1px solid #0071dc;
  color: #0071dc;
}

.vehicle-details__input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8px;
}

.vehicle-details__label {
  font-size: 12px;
  color: #9c9c9c;
  margin-bottom: 8px;
}

input {
  width: 150px;
  height: 32px;
  border: 1px solid #d8d8d8;
  padding-left: 12px;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  border: 1px solid #d8d8d8;
}

select {
  background-color: white;
  width: 180px;
  border: 1px solid #d8d8d8;
  height: 40px;
  padding-left: 8px;
}

.form__input--chassis-input,
.form__input--engine-input {
  height: 36px;
}

.options-container {
  margin-left: 48px;
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options__label {
  margin-left: 10px;
}

.label__header {
  font-size: 15px;
  margin-bottom: 0;
}

.label__description {
  margin-top: 2px;
  font-size: 11px;
  color: #9c9c9c;
}

.button-container {
  margin-top: 32px;
  margin-right: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.button-container__save-changes {
  cursor: pointer;
  color: white;
  background-color: #0071dc;
  border: 0;
  border-radius: 5px;
  width: 200px;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

[type="file"] {
  height: 0;
  width: 0;
  overflow: hidden;
  display: none;
}

[type="file"] + label {
  font-weight: 700;
  font-size: 14px;
  font-family: sans-serif;
  background: white;
  padding: 10px 30px;
  border: 1px solid #0071dc;
  border-radius: 3px;
  color: #0071dc;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 180px;
  text-align: center;
}

[type="file"] + label:hover {
  background-color: #0071dc;
  color: white;
}

.upload-photo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 48px;
}

#preview {
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: 500px;
  max-height: 500px;
  margin-bottom: 48px;
}

#id_engine,
#id_chassis,
#id_model,
#id_manufacturer,
#id_cabin {
  display: none;
}

.form__input--owner-input {
  margin-left: 48px;
}

#driver--dismiss {
  background-color: white;
  border: 1px solid #C51616;
  color: #C51616;
  cursor: pointer;
  border-radius: 5px;
  width: 200px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  font-weight: 700;
  margin-left: 24px;
  margin-bottom: 24px;
  gap: 10px;
}

select {
  background-color: white;
  width: 300px;
  border: 1px solid #d8d8d8;
  height: 40px;
  padding-left: 8px;
}

.alert__title {
  font-weight: 700;
  margin: 16px 0 0 32px;
  font-size: 18px;
}

.alert__description {
  margin-left: 32px;
  margin-top: 4px;
  margin-bottom: 24px;
  font-size: 14px;
}

.dismiss-driver__alert {
  background: #f5c7c7;
  border-radius: 10px;
  color: #C51616;
  margin-top: 16px;
  margin-left: 48px;
  width: 1100px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/*# sourceMappingURL=edit_vehicle.css.map */