
.side-panel {
    width: 300px;
}

.side-panel__logo { 
    margin-left: 32px;
    margin-top: 32px;
    margin-bottom: 48px;
}

.side_panel__label {
    margin-left: 34px;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2%;
    color: #9C9C9C;
}

.side-panel__option {
    display: flex;
    flex-direction: row;
    padding: 4px 0 4px 0;
    width: 100%;
    height: 40px;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    letter-spacing: 2%;
    color: #9C9C9C;
    cursor: pointer;
}

.side-panel__option:first-child {
    margin-top: 16px;
}

.side-panel__option:hover {
    background-color: hsl(0, 2%, 93%);
}

.option__icon {
    margin-left: 32px;
    align-self: center;
    margin-right: 16px;
    width: 24px;
}

.option__title {
    align-self: center;
}

.option--active {
    background-color: #0071DC;
    color: white;
}

.option--active:hover {
    background-color: hsl(209, 97%, 38%);
}